<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" th:href="@{/css/transactions.css}" />
	</head>

	<body>
				<h2>
				<span th:text="|Transaction ID :  ${transactionById.id} |"></span>
				<span th:text="${transactionById.type == 'C'} ? '(Credit)' : '(Debit)'"></span>
				</h2>  
				<div th:text="|Date:  ${transactionById.date}|"></div>
				<div th:text="|Amount: ${transactionById.type == 'C' ? -transactionById.amount : transactionById.amount}|"></div>			
				<div th:text="|Description:  ${transactionById.description}|"></div>
				<div><a href="/transactions">Back</a></div>
		
	</body>
</html>