body {
  margin: 0px;
  font-family: Arial;
  background-color: rgba(73,21,248,255);
}

.section1{
  margin-left: 30px;
  margin-top:30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section2{
  margin-top: 180px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section3{
  margin: 0px 350px 0px 350px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middleBox{
	margin: 26px 0px 10px 0px;
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	flex: 0 1 500px;
	justify-content: center;
}

button[type='button'] {
  padding: 10px;
  font-weight: bold;
  color:white;
  background-color: orange;
  text-align:center;
  font-size: 15px;
  border: 0px;
  border-radius: 55px;
}
h1{
	font-size: 60px;
}


a:visited{
	color: white;
}